services:
  journal-discovery:
    env_file:
      - .env
    environment:
      PORT: ${CONTAINER_PORT:-8080}
    build:
      context: ../..
      dockerfile: Dockerfile
      args:
        SITE_URL: ${SITE_URL}
    image: ${IMAGE_NAME}
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    ports:
      - "${HOST_PORT}:${CONTAINER_PORT:-8080}"
